:host {
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #050a10;
    overflow: hidden;
    position: relative;
}

th-canvas {
    width: 100%;
    height: 100%;
}

.viewport-container {
    width: 100%;
    height: 100%;
    position: relative;
}
